/***********************************************************************************************/
/* RESPONSIVE STYLE */
/***********************************************************************************************/

@media (max-width: 1199px) {
    .slider-button {
        width: 100%;
        min-width: 175px;
    }
}

@media (max-width: 991px) {
    .slider-content .col-md-8{
      padding-right: 15px;
      margin-right: auto;
    }
    .slider-content .col-md-4{
      padding-left: 15px;
      margin-left: auto;
    }
    .nav>li>a {
      padding: 15px 5px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
 

}

@media(max-width:767px) {
    
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
      border-color: #032142;
      margin-top: 50px;
    }

    .navbar-default .navbar-toggle {
      border-color: #FFF;
      margin-top: 38px;
    }

    .navbar-default .navbar-toggle .icon-bar {
      background-color: #FFF;
    }
    .slider-button {
      width: 100%;
      min-width: 140px;
    }
    .button-container-list li a {
      font-size: 12px;
      color: #fff;
    }
    .button-container {
      padding: 21em 0 2em;
    }
}

@media(max-width:480px) {
    
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
      border-color: #032142;
      margin-top: 16px;
    }

    .navbar-default .navbar-toggle {
      border-color: #FFF;
      margin-top: 38px;
    }

    .navbar-default .navbar-toggle .icon-bar {
      background-color: #FFF;
    }
    .slider-button {
      width: 100%;
      min-width: 140px;
    }

    .button-container-list li a {
      font-size: 12px;
      color: #fff;
    }
    .button-container {
      padding: 21em 0 2em;
    }
}
