/**********************************************************************************

  Project:  Tens Australia
  Designer: Zakir Hossain
  Designer URI: http://www.zakirinfo.com
  Version:  1.0
  Last change: 
  
**********************************************************************************/


@font-face {
  font-family: 'BrushScriptMT';
  src: url('../fonts/BrushScriptMT.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrushScriptMT';
  src:  url('../fonts/BrushScriptMT.woff') format('woff'), url('../fonts/BrushScriptMT.ttf')  format('truetype'), url('../fonts/BrushScriptMT.svg#BrushScriptMT') format('svg');
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background: #ffffff;
  color: #656565;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  overflow-x: hidden !important;
  margin: auto !important;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: inherit;
  color: inherit;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/*---------------------------------------
   TYPOGRAPHY               
-----------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  color: #fff;
  margin-bottom: 0;
  margin-top: 0;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
}

h2 {
  font-size: 2.75rem;
  line-height: 3.375rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  line-height: 2.375rem;
  font-weight: 600;
}

h4 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
}

h5 {
  font-size: 17px;
  line-height: 25px;
  font-weight: 700;
}

h6 {
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
}



/*********************************
----------------------------------
  HEADER
----------------------------------
*********************************/

.header {
  background: #032142;
  position: relative;
}

.navbar-default {
  background: transparent;
  border: none;
}

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
}

.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
  background: transparent;
  color: #ffffff;
  text-decoration: underline;
}

.navbar-default .navbar-nav>li>a {
  display: inline-block;
}

.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #00428b;
  padding-left: 30px;
}

.dropdown-menu {
  padding: 0;
  border-radius: 0px;
  border: none;
}

.dropdown-menu li {
  padding: 0;
}

.dropdown-menu>li>a {
  padding: 10px 20px;
}

.dropdown-menu>li>a:hover {
  text-decoration: underline;
}

.navbar-right .fa {
  margin-right: 5px;
}

.navbar-right {
  margin-top: 25px;
}

.navbar {
  min-height: 80px;
}

.nav .font-size-maintain a.font-size-big {
  border: 1px solid #ffffff;
  padding: 5px 10px;
}

.nav .font-size-maintain a.font-size-small {
  border: 1px solid #ffffff;
  padding: 5px 10px;
  font-size: 12px;
}

li.font-size-maintain {
  margin-top: 9px;
  margin-right: 10px;
}



/*********************************
----------------------------------
  PRODUCT SECTION
----------------------------------
*********************************/
.product-section {
  margin-top: 37px;
}

.single-product {
  margin: auto;
  margin-bottom: 34px;
  position: relative;
  display: block;
  text-align: center;
  width: 100%;
  max-width: 588px;
  height: 100%;
  max-height: 385px;
}

.product-content {
  position: absolute;
  top: 0;
  text-align: center;
  color: #fff;
  background: rgba(0, 12, 26, 0.7);
  width: 100%;
  max-width: 588px;
  height: 100%;
  max-height: 385px;
  padding-top: 18%;
/*  opacity: 0;*/
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
}


/*.single-product:hover .product-content {
  opacity: 1
}*/

.btn-success {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  border-radius: 0px;
  padding: 10px 20px;
  font-weight: 600;
}

.btn-success:hover {
  background: #00428b;
  border-color: #00428b;
  color: #fff;
}

.quote {
  width: 750px;
  margin: 100px auto 100px;
  padding: 10px;
  background: #032142;
  color: #fff;
  text-align: center;
}

.footer {
  background: #032142;
  padding: 44px;
  0;
  text-align: center;
  color: #fff;
}

.social-icon-container {
  margin-bottom: 24px;
}

.social li a {
  color: #fff;
}

.social li {
  display: inline-block;
  list-style: none;
  margin-left: 15px;
}

.social li:first-child {
  margin-left: 0;
}

.no-specing {
  margin: 0!important;
  padding: 0!important;
}



/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  width: 100%;
  max-width: 588px;
  height: 100%;
  max-height: 385px;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}





/* Individual effects */

/*---------------*/
/***** Julia *****/
/*---------------*/

figure.effect-julia {
  background: #2f3238;
}

figure.effect-julia img {
  max-width: none;
  height: 400px;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect-julia figcaption {
  text-align: left;
}

figure.effect-julia h2 {
  position: relative;
  padding: 0.5em 0;
  text-transform: initial;
}

figure.effect-julia p {
  display: inline-block;
  margin: 0 0 0.35em;
  padding: 0.4em 0em;
  text-transform: initial;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-360px,0,0);
  transform: translate3d(-360px,0,0);
}

figure.effect-julia p:first-child {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

figure.effect-julia p:nth-of-type(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.effect-julia p:nth-of-type(3) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.effect-julia:hover p:first-child {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

figure.effect-julia:hover p:nth-of-type(2) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.effect-julia:hover p:nth-of-type(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.effect-julia:hover img {
  opacity: 0.4;
  -webkit-transform: scale3d(1.1,1.1,1);
  transform: scale3d(1.1,1.1,1);
}

figure.effect-julia:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}



/*SINGLE PAGE STYLE*/

.top-slider-section {
  background: url(../images/bg.jpg) scroll center center no-repeat;
  background-size: cover;

}

.slider-heading {
  background: #0362c5;
  padding: 10px 0;
}

.slider-heading h2 {
  font-size: 2.5rem;
}

.slider-heading h2 span {
  font-family: 'BrushScriptMT', cursive;
  font-style: italic;
}

.slider-heading h2 small {
  color: #ffffff;
}

.button-container-list {
  margin: 0;
  padding: 0;
}

.button-container-list li {
  display: inline-block;
  list-style: none;
  margin-left: 24px;
}

.button-container-list li a {
  font-size: 18px;
  color: #fff;
}

.button-container-list li a:hover {
  color: #fff;
}

.slider-right-content {
  height: 100%;
  min-height: 455px;
  background: #0681ff;
 /* Old browsers */
  background: -moz-linear-gradient(top,  #0681ff 0%, #00428b 100%);
 /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0681ff), color-stop(100%,#00428b));
 /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #0681ff 0%,#00428b 100%);
 /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #0681ff 0%,#00428b 100%);
 /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #0681ff 0%,#00428b 100%);
 /* IE10+ */
  background: linear-gradient(to bottom,  #0681ff 0%,#00428b 100%);
 /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0681ff', endColorstr='#00428b',GradientType=0 );
 /* IE6-9 */
}

.slider-content .col-md-8{
  padding-right: 0;
  margin-right: 0;
}
.slider-content .col-md-4{
  padding-left: 0;
  margin-left: 0;
}

.slider-right-content-link-list li {
  padding: 15px 40px;
  border-bottom: 1px solid #fff;
}
.slider-right-content-link-list li a{
  color: #fff;
}

.slider-right-content-link-list li a:hover {
  text-decoration: underline;
}

a.slider-button {
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

.slider-button {
  width: 100%;
  min-width: 210px;
  margin: 0 0 10px;
  background: #0681ff;
 /* Old browsers */
  background: -moz-linear-gradient(top,  #0681ff 0%, #00428b 100%);
 /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0681ff), color-stop(100%,#00428b));
 /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #0681ff 0%,#00428b 100%);
 /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #0681ff 0%,#00428b 100%);
 /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #0681ff 0%,#00428b 100%);
 /* IE10+ */
  background: linear-gradient(to bottom,  #0681ff 0%,#00428b 100%);
 /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0681ff', endColorstr='#00428b',GradientType=0 );
 /* IE6-9 */
  box-shadow: none;
  border: none;
  padding: 10px 0;
}

.slider-button:hover {
  background: #00428b;
 /* Old browsers */
  background: -moz-linear-gradient(top,  #00428b 1%, #0681ff 100%);
 /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#00428b), color-stop(100%,#0681ff));
 /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #00428b 1%,#0681ff 100%);
 /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #00428b 1%,#0681ff 100%);
 /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #00428b 1%,#0681ff 100%);
 /* IE10+ */
  background: linear-gradient(to bottom,  #00428b 1%,#0681ff 100%);
 /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00428b', endColorstr='#0681ff',GradientType=0 );
 /* IE6-9 */
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

.btn.active, .btn:active {
  outline: 0;
  background: #0681ff;
 /* Old browsers */
  background: -moz-linear-gradient(top,  #0681ff 0%, #00428b 100%);
 /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0681ff), color-stop(100%,#00428b));
 /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #0681ff 0%,#00428b 100%);
 /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #0681ff 0%,#00428b 100%);
 /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #0681ff 0%,#00428b 100%);
 /* IE10+ */
  background: linear-gradient(to bottom,  #0681ff 0%,#00428b 100%);
 /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0681ff', endColorstr='#00428b',GradientType=0 );
 /* IE6-9 */
  box-shadow: none;
}

.slider-left-content {
  background: url(../images/bg-w.jpg) scroll top center no-repeat;
  height: 100%;
  min-height: 455px;
}

.button-container {
  padding: 23em 0 2em;
}

.product-information {
  padding: 62px 0;
}

.produxt-content {
  margin-top: 38px;
}

.product-information h1,
.product-information h2,
.product-information h3,
.product-information h4,
.product-information h5,
.product-information h6 {
  color: #000;
}

.product-information h2 {
  font-size: 42px;
}

.testimonial-section {
  background: #000;
  padding: 62px 0;
}

.testimonial-line {
  width: 110px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.flexslider {
  margin-top: 48px;
  background: transparent;
  border-color: transparent;
  color: #fff;
  text-align: center;
}

.flex-control-paging li a:hover {
  background: #FFF;
  background: rgba(255, 250, 250, 0.7);
}

.flex-control-paging li a.flex-active {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  cursor: default;
}

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #FFF;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}



.flexslider .slides li p {
  width: 70%; 
  margin: auto;
}

.flex-direction-nav .flex-prev {
  border: 1px solid #fff;
  line-height: 40px;
  border-radius: 100%;
  padding-left: 2px;
}

.flex-direction-nav .flex-next {
  border: 1px solid #fff;
  line-height: 40px;
  border-radius: 100%;
  text-align: center;
  padding-left: 5px;
}

.person {
  margin: 20px 0 10px;
}

/*---------------------------------------
   SINGLE TESTIMONIAL PAGE               
-----------------------------------------*/
.text-color {
  color: #000;
}

.testimonial-full h2{
  font-size: 40px;
  line-height: 55px;
  margin: 65px 0 0;
}

.testimonial-wrap {
  margin: 65px 0 65px;
}

.testimonial-wrap .fa-quote-left {
  margin-right: 10px;
  display: inline;
  font-size: 32px;
}

.testimonial-wrap .fa-quote-right {
  margin-left: 10px;
  display: inline;
  font-size : 32px;
}

.testimonail-content-comment {
  margin-top: 30px;
}

.testimonial-person-full {
  margin-top: 24px;
}

.testimonial-person-full h5 {
  color: #ce7102;
  font-size: 16px;
  line-height: 22px;
}

.testimonial-person-full p {
  font-size: 14px;
}

.testimonial-full-line {
  margin: 0;
  padding: 0;
}




/*You Tube Video Gallery*/
.instruction-page-full {
  padding: 40px 0 100px;
}

.instruction-page-full h2 {
  font-size: 35px;
  margin-bottom: 24px;
}

.ibacordotcom-vid-box h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #000;
}

span.ibacordotcom-nav-title {
  font-size: 20px;
}

/*#ibacordotcom-content {
  padding: 0 100px;
} 
*/

iframe,input,textarea,button{border:0}

.ibacordotcom-input {
  font-size: 20px;
  background: #fff;
  border: 1px solid #EAEBEB;
  color: #34495e;
  padding: 10px;
  /*margin: 0 0 25px;*/
  width: 80%;
}

.ibacordotcom-vid-top hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(150, 150, 150, 0.3);
}

a img {
  border: 0;
}

.ibacordotcom-unit {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  overflow: hidden;
  *overflow: visible;
}

.ibacordotcom-vid-katuhu {
  width:100%;
  float:right
}

.ibacordotcom-vid-kenca {
  width:100%;
}

a span.ibacordotcom-uploader {
  color: #444;
}

.ibacordotcom_youtube_thumb{
  float:left;
  margin-right:10px;
}

.ibacordotcom_youtube_thumb {
    position: relative;
}

.ibacordotcom_youtube_thumb span {
  position: absolute;
  right: 1px;
  bottom: 10px;
  padding:0 5px 0 5px;
  background: #000;
}

.ibacordotcom-vid-box {
  background:#fff;
  border:1px solid #e0e0e0;
  margin-bottom:10px;
  padding:20px;
  display:none;
  overflow:hidden;
  *overflow:visible;
}

.ibacordotcom-vid-box-user {
  margin-bottom: 35px;
}

#ibacordotcom-user-img {
  float:left;
  margin-right:10px
}

.ibacordotcom-play {
  margin:0;
  padding:10px;
  display:block;
  overflow:hidden;
  *overflow:visible;
}

div.ibacordotcom-vid-top {
  color: #FFFFFF;
  background: #1a1a1a;
  padding:20px;
  display:block;
  overflow:hidden;
  *overflow:visible;
}

div.ibacordotcom-vid-bottom {
  color: #c0c0c0;
  background:#222222;
  display:block;
}

span.ibacordotcom-vid-by a {
  color: #878787;
}

.ibacordotcom_youtube_thumb img {
  width: 100px;
}

div.ibacordotcom-play:hover {
  background:#525252;
}

.ibacordotcom-vid-active {
  background:#3a3a3a;
}

.ibacordotcom-vid-active img{
  border :2px solid #e42b28;
}

.ibacordotcom_vid_prev,.ibacordotcom_vid_next,.ibacordotcom-play{
  cursor:pointer
}

iframe.ibacordotcom-vid-iframe {
  width: 100%;
  height: 500px
}


@media only screen and (min-width: 960px) and (max-width: 1045px) {

}

@media only screen and (min-width: 768px) and (max-width: 959px) {

}

@media only screen and (min-width: 480px) and (max-width: 767px) {

}

@media screen and (max-width:479px){

}


.instruction-pdf {
  margin-top: 25px;
}


.instruction-pdf p {
  color: #000;
  font-weight: 600;
}

.instruction-pdf-link {
  margin-top: 15px;
}



/***********************************************************************************************/
/* FORM FOR ALL PAGE */
/***********************************************************************************************/
.ten-form-1 .table-striped>tbody>tr:nth-child(4) {
  background: transparent;
  border: none;
}

.ten-form-1 .table-striped>tbody>tr:nth-child(4)>td>hr {
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.ten-form-1 .table-striped>tbody>tr:nth-child(5) {
  background: transparent;
  border: none;
}

.ten-form-1 .table-striped>tbody>tr:nth-child(5)>td {
  padding-top: 5px;
}

.ten-form-1 thead, 
.ten-form-3 thead {
  background: #E8E8E8;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border: none;
}

.panel-default>.panel-heading {
  background: transparent;
}

.ten-form-6 thead tr th {
  border-top: 1px solid #ddd!important;
  border-bottom: 1px solid #ddd;
}

.form-control {
  padding: 22px 12px;
  margin-bottom: 15px;
}

.ten-form-7 tbody tr td {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.ten-form-8 tbody tr td {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.ten-form-8 tbody tr:nth-child(3) td {
  border-bottom: none;
}

.datepicker table tr td.active:hover, 
.datepicker table tr td.active:hover:hover, 
.datepicker table tr td.active.disabled:hover, 
.datepicker table tr td.active.disabled:hover:hover, 
.datepicker table tr td.active:active, 
.datepicker table tr td.active:hover:active, 
.datepicker table tr td.active.disabled:active, 
.datepicker table tr td.active.disabled:hover:active, 
.datepicker table tr td.active.active, 
.datepicker table tr td.active:hover.active, 
.datepicker table tr td.active.disabled.active, 
.datepicker table tr td.active.disabled:hover.active, 
.datepicker table tr td.active.disabled, 
.datepicker table tr td.active:hover.disabled, 
.datepicker table tr td.active.disabled.disabled, 
.datepicker table tr td.active.disabled:hover.disabled, 
.datepicker table tr td.active[disabled], 
.datepicker table tr td.active:hover[disabled], 
.datepicker table tr td.active.disabled[disabled], 
.datepicker table tr td.active.disabled:hover[disabled],
.datepicker table tr td span.active:hover, 
.datepicker table tr td span.active:hover:hover, 
.datepicker table tr td span.active.disabled:hover, 
.datepicker table tr td span.active.disabled:hover:hover, 
.datepicker table tr td span.active:active, 
.datepicker table tr td span.active:hover:active, 
.datepicker table tr td span.active.disabled:active, 
.datepicker table tr td span.active.disabled:hover:active, 
.datepicker table tr td span.active.active, 
.datepicker table tr td span.active:hover.active, 
.datepicker table tr td span.active.disabled.active, 
.datepicker table tr td span.active.disabled:hover.active, 
.datepicker table tr td span.active.disabled, 
.datepicker table tr td span.active:hover.disabled, 
.datepicker table tr td span.active.disabled.disabled, 
.datepicker table tr td span.active.disabled:hover.disabled, 
.datepicker table tr td span.active[disabled], 
.datepicker table tr td span.active:hover[disabled], 
.datepicker table tr td span.active.disabled[disabled], 
.datepicker table tr td span.active.disabled:hover[disabled] {
  background: #1F9DD5;
}

.table thead {
  color: #11175E;
}

.content-title {
  margin: 24px 0;
}
/*=============================
  MAIN BUTTON
=============================*/
.btn-main {
  color: #fff;
  border-color: #42b3e5;
  background: #42b3e5;
  margin: 15px 0;
  margin-right: 15px;
  min-width: 165px;
  border-radius: 0;
  font-size: 18px;
}

.btn-main:hover,
.btn-main:active {
  border-color: #1F9DD5;
  background: #1F9DD5;
}

.btn-main:hover,
.btn-main:active {
  color: #fff;
}

.btn-main:hover:after,
.btn-main:active:after {
  height: 100%;
}

.order-full {
  padding: 40px 0 100px;
}

.order-full h2 {
  font-size: 32px;
  margin-bottom: 40px;
}