 
.hide_column{
    display : none;
}

.hide-cell {
	display : none;
}

input.editable-hover {
	background-color: #CCCCCC;
	border-color: #000;
}


input.editable-hover:hover {
	background-color: #CCCCCC;
	border-color: #CCCCFF;
}

.error-message {
	color:#FF0000;
}

.select-error {
  border-color:red; 
  color:red;
}

.select2-error-border {
  border: 1px solid red;
}

.select2-error-font {
  color:red;
}