/**
 *
 * Apply Here your Custom CSS
 *
*/

body {
	font-size: 15px;
}



/*Custom Style*/
.tile-title .icon i.top-bs-icon {
	font-size: 22px;
}

.tile-title .title p {
	padding: 20px 0;
	font-size: 18px;
}

.zak-cs-btn {
	margin: 15px 5px;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
	border-top: none;
	border-radius: 0px 0px 0px 0px;
}

.zak-tab {
	margin-bottom: 0px;
}

.tile-title .title {
	padding: 10px;
}

.page-container .sidebar-menu #main-menu li {
	font-size: 15px;
}

label.errorLabel {
    color: red;
    font-size: 11px;
    /*    font-style: italic;*/
    display: block;
}
 

ul.errorLabel input {
    color: #666 !important;
}