/* iPad Landscape Mode and Large Tablets */

@media (max-width: 1024px) {
    .single-product img {
        max-height: 308px;
    }
    .single-product-content h2 {
        font-size: 50px;
    }
    .single-product-content p {
        font-size: 21px;
        margin-top: 21px;
    }
}

@media (max-width: 993px) {
    .single-product img {
        max-height: auto;
        margin: auto;
    }
    .single-product-content h2 {
        font-size: 50px;
    }
    .single-product-content p {
        font-size: 21px;
        margin-top: 21px;
    }
    .no-margin-padding-right {
        margin-right: auto;
        padding-right: 15px;
        margin-bottom: 24px;
    }
    .no-margin-padding-left {
        margin-left: auto;
        padding-left: 15px;
        margin-bottom: 24px;
    }
    .no-margin-padding-right .single-product-content {
        left: 125px;
    }
    .no-margin-padding-left .single-product-content {
        left: 125px;
    }
    .nav>li>a {
        padding: 4px 5px;
        font-size: 14px;
    }
    .header-title {
        line-height: 110px;
        font-size: 28px;
    }
    .main-navigation {
        margin-top: 44px;
    }
    /*ACCESSOREIS*/
    
    .pagination {
        text-align: center;
    }
    .single-accessories-product h2 {
        margin-top: 24px;
    }
    .bottom-pagination {
        margin-bottom: 24px;
    }
}

@media (max-width: 767px) {
    .header-title {
        line-height: 50px;
        font-size: 35px;
        text-align: center;
        margin-top: 15px;
    }
    .logo {
        margin: auto;
        text-align: center;
    }
    .main-navigation {
        margin-top: -11px;
        z-index: 99;
    }
    .main-navigation {
        background: #3e5977;
    }
    .navbar-default .navbar-toggle {
        border-color: #FFF;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #FFF;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #3E5977;
        background: rgba(38, 63, 90, 0.57);
    }
    .top-header {
        height: 215px;
    }
    /*ACCESSOREIS*/
    
    .pagination {
        text-align: center;
    }
    .single-accessories-product h2 {
        margin-top: 24px;
    }
    .bottom-pagination {
        margin-bottom: 24px;
    }
}
/*iPad Portrait Mode, iPad Mini and Small Tablets */

@media (max-width: 768px) {
    .header-title {
        line-height: 50px;
        font-size: 35px;
        text-align: center;
        margin-top: 15px;
    }
    .logo {
        margin: auto;
        text-align: center;
    }
    .main-navigation {
        margin-top: -11px;
        z-index: 99;
    }
    .main-navigation {
        background: #3e5977;
    }
    .navbar-default .navbar-toggle {
        border-color: #FFF;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #3E5977;
        background: rgba(38, 63, 90, 0.57);
    }
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }
    .top-header {
        height: 215px;
    }
    .main-bottom-content {
        background: #3E5977;
        color: #FFFFFF;
        width: 355px;
        height: 75px;
        text-align: center;
        margin: 48px auto 0;
        font-size: 29px;
        line-height: 85px;
    }
    .navbar-default .navbar-brand {
        color: #FFFFFF;
    }
    /*ACCESSOREIS*/
    
    .pagination {
        text-align: center;
    }
    .single-accessories-product h2 {
        margin-top: 24px;
    }
    .bottom-pagination {
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        padding-left: 0px;
    }
    .main-bottom-content {
        background: #3E5977;
        color: #FFFFFF;
        width: 300px;
        height: 75px;
        text-align: center;
        margin: 48px auto 0;
        font-size: 25px;
        line-height: 85px;
    }
    .single-product-content h2 {
        font-size: 35px;
    }
    .single-product-content p {
        font-size: 18px;
        margin-top: 18px;
    }
    .no-margin-padding-right .single-product-content {
        left: 45px;
    }
    .no-margin-padding-left .single-product-content {
        left: 45px;
    }
    .header-title {
        line-height: 50px;
        font-size: 30px;
        text-align: center;
        margin-top: 15px;
    }
    .navbar-default .navbar-brand {
        color: #FFFFFF;
    }
    /*ACCESSOREIS*/
    
    .pagination {
        text-align: center;
    }
    .single-accessories-product h2 {
        margin-top: 24px;
    }
    .bottom-pagination {
        margin-bottom: 24px;
    }
}
/*iPhone Portrait Mode and Very Small Mobile Phones*/

@media screen and (max-width: 320px) {
    .logo {
        padding-left: 0px;
    }
    .main-bottom-content {
        background: #3E5977;
        color: #FFFFFF;
        width: 355px;
        height: 75px;
        text-align: center;
        margin: 48px auto 0;
        font-size: 29px;
        line-height: 85px;
    }
    .single-product-content h2 {
        font-size: 35px;
    }
    .single-product-content p {
        font-size: 18px;
        margin-top: 18px;
    }
    .no-margin-padding-right .single-product-content {
        left: 45px;
    }
    .no-margin-padding-left .single-product-content {
        left: 45px;
    }
    .navbar-default .navbar-brand {
        color: #FFFFFF;
    }
    /*ACCESSOREIS*/
    
    .pagination {
        text-align: center;
    }
    .single-accessories-product h2 {
        margin-top: 24px;
    }
    .bottom-pagination {
        margin-bottom: 24px;
    }
}
