/**********************************************************************************

  Project:  Tens Australia
  Designer: Anh Dao
  Version:  1.0
  Last change: 
  
**********************************************************************************/

@font-face {
    font-family: 'BrushScriptMT';
    src: url('../fonts/BrushScriptMT.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrushScriptMT';
    src: url('../fonts/BrushScriptMT.woff') format('woff'), url('../fonts/BrushScriptMT.ttf') format('truetype'), url('../fonts/BrushScriptMT.svg#BrushScriptMT') format('svg');
    font-weight: normal;
    font-style: normal;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    background: #FFFFFF;
    color: #656565;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: inherit;
    color: inherit;
}
 
@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

.brush {
    font-family: 'BrushScriptMT';
    margin: 0;
    padding: 0;
}



/* Header */
.logo {
  padding-left: 35px;  
}

.top-header {
    background: #3E5977;
    color: #FFFFFF;
    height: 110px;
    line-height: 110px;
}

.main-navigation {
    background: transparent;
    border: none;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 35px;
}

.header-title {
    line-height: 110px;
    font-size: 40px;
}

.main-navigation .navbar-nav>li>a {
    color: #FFFFFF;
    text-transform: none;
}

.main-navigation .navbar-nav>li>a:hover {
    color: #DBDBDB;
}



/*MAIN CONTENT*/
#main-content-area {
    margin: 48px 0;
}

.no-margin-padding-right {
    margin-right: 0;
    padding-right: 0;
}

.no-margin-padding-left {
    margin-left: 0;
    padding-left: 0;
}

.single-product {
    position: relative;
}

.single-product img {
    width: 100%;
    max-width: 570px;
    height: 100%;
    max-height: 374px
}

.single-product-content {
    position: absolute;
    top: 20px;
    left: 30px;
}

.no-margin-padding-right .single-product-content {
    left: 45px;
}

.single-product-content h2,
.single-product-content p {
    color: #FFFFFF;
}

.single-product-content h2 {
    font-size: 60px;
    font-weight: 700;
}

.single-product-content p {
    font-size: 24px;
    margin-top: 35px;
}

.main-bottom-content {
    background: #3E5977;
    color: #FFFFFF;
    width: 600px;
    height: 85px;
    text-align: center;
    margin: 48px auto 0;
    font-size: 48px;
    font-family: 'BrushScriptMT';
    line-height: 85px;
}

/*FOOTER*/
.footer {
    background: #3E5977;
    color: #FFFFFF;
}

.footer h5 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 24px;
}

.social {
  margin-bottom: 24px;
}

.social li {
  display: inline-block;
  margin-right: 10px;
}

.social li a {
    font-size: 40px;
    color: #FFFFFF;
}

.footer p a {
  color: #FFFFFF;
  text-decoration: underline;
}

.copy-right-text {
  font-size: 16px;
}



/*ACCESSORIES PAGE STYLE*/


.pagination {
    background: #eaeff3;
    width: 100%;
    text-align: right;
    margin: 0;
    border-radius: 0;
}

.pagination>li {
    text-align: right;
    display: inline-flex;
    padding: 0;
    margin: 0;
    background: transparent;
}

.pagination li a {
    background: none;
    border: none;
    color: #000;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 2;
    color: #757575;
    cursor: default;
    background-color: transparent;
    border-color: transparent;
    font-weight: 700;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    background: transparent;
}

.top-pagination .pagination {
    margin-bottom: 48px;
}

.bottom-pagination .pagination {
    margin-top: 48px;
}

.pagination-lg>li:first-child>a,
.pagination-lg>li:first-child>span {
    border-radius: 0;
    border: none;
    background: transparent;
}

.pagination-lg>li:last-child>a,
.pagination-lg>li:last-child>span {
    border-radius: 0;
    border: none;
    background: transparent;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #024c93;
    border-color: #024c93;
}

a.list-group-item:focus,
a.list-group-item:hover {
    color: #000;
    background-color: #f5f5f5;
    text-decoration: underline;

}

a.list-group-item:focus .disabled .active,
a.list-group-item:hover .disabled .active {
    text-decoration: none;
    font-style: inherit;
}

.badge {
    background-color: transparent;
    border-radius: 0;
    color: #656565;
    font-size: 14px;
}

a.list-group-item:hover .badge {
    color: #000;
}

a.list-group-item {
        -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #024c93;
    border-color: #024c93;
    text-decoration: inherit;
    font-style: normal;
}


.side-group {
    margin-bottom: 24px;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #23527c;
    background-color: transparent;
    border-color: transparent;
}

.single-accessories-product {
    margin-bottom: 24px;
}

.single-accessories-product h2 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 22px;
    color: #000;
}

.accessories-cost {
    color: #5981b2;
    font-size: 18px;
}

.accessories-code {
    font-size: 13px;
    color: #666d87;
}

.btn-success {
    color: #fff;
    background-color: #82af30;
    border-color: #82af30;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 25px;
    margin-top: 18px;
}

.btn-success.active,
.btn-success.focus,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #9BD03B;
    border-color: #9BD03B;
}

.accessories-line-bottom {
    height: 1px;
    border: 1px dotted #a6a6a6;
    margin: 24px 0
}

.list-group-item {
  background-color: #eaeff3;
}




/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0px 1%;
  width: 100%;
  max-width: 588px;
  height: 100%;
  max-height: 385px;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff; 
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid figure figcaption > h2 {
    font-size: 60px;
    font-weight: 700;
}
 


/* Individual effects */

/*---------------*/
/***** Julia *****/
/*---------------*/

figure.effect-julia {
  background: #2f3238;
}

figure.effect-julia img {
  max-width: none;
  height: 400px;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect-julia figcaption {
  text-align: left;
}

figure.effect-julia h2 {
  position: relative;
  margin: 8px 0 0 0;
  padding: 0px;
  text-transform: initial;
}


figure.effect-julia p {
  font-size: 24px; 
  margin: 36px 0 10px 0;
}

figure.effect-julia p:nth-child(3) {
  display: inline-block;
  margin: 0 0 0.35em;
  padding: 0.4em 0em;
  text-transform: initial;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-360px,0,0);
  transform: translate3d(-360px,0,0);
}

figure.effect-julia p:first-child {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

figure.effect-julia p:nth-of-type(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.effect-julia p:nth-of-type(3) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.effect-julia:hover p:first-child {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

figure.effect-julia:hover p:nth-of-type(2) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.effect-julia:hover p:nth-of-type(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.effect-julia:hover img {
  opacity: 0.4;
  -webkit-transform: scale3d(1.1,1.1,1);
  transform: scale3d(1.1,1.1,1);
}

figure.effect-julia:hover p:nth-child(3) {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


i.field-required:after {
  content: '*';
  color:red;
}

label.errorLabel {
  color: red;
  font-weight:300 !important; 
}

input.errorInput {
  border-color: red !important;
  color: red;
}


select.errorInput {
  border-color: red !important;
  color: red;
}


/*
 Videos instructions
*/


/*You Tube Video Gallery*/
.instruction-page-full {
  padding: 40px 0 100px;
}

.instruction-page-full h2 {
  font-size: 35px;
  margin-bottom: 24px;
}

.ibacordotcom-vid-box h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #000;
}

span.ibacordotcom-nav-title {
  font-size: 20px;
}

/*#ibacordotcom-content {
  padding: 0 100px;
} 
*/

iframe,input,textarea,button{border:0}

.ibacordotcom-input {
  font-size: 20px;
  background: #fff;
  border: 1px solid #EAEBEB;
  color: #34495e;
  padding: 10px;
  /*margin: 0 0 25px;*/
  width: 80%;
}

.ibacordotcom-vid-top hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(150, 150, 150, 0.3);
}

a img {
  border: 0;
}

.ibacordotcom-unit {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  overflow: hidden;
  *overflow: visible;
}

.ibacordotcom-vid-katuhu {
  width:100%;
  float:right
}

.ibacordotcom-vid-kenca {
  width:100%;
}

a span.ibacordotcom-uploader {
  color: #444;
}

.ibacordotcom_youtube_thumb{
  float:left;
  margin-right:10px;
}

.ibacordotcom_youtube_thumb {
    position: relative;
}

.ibacordotcom_youtube_thumb span {
  position: absolute;
  right: 1px;
  bottom: 10px;
  padding:0 5px 0 5px;
  background: #000;
}

.ibacordotcom-vid-box {
  background:#fff;
  border:1px solid #e0e0e0;
  margin-bottom:10px;
  padding:20px;
  display:none;
  overflow:hidden;
  *overflow:visible;
}

.ibacordotcom-vid-box-user {
  margin-bottom: 35px;
}

#ibacordotcom-user-img {
  float:left;
  margin-right:10px
}

.ibacordotcom-play {
  margin:0;
  padding:10px;
  display:block;
  overflow:hidden;
  *overflow:visible;
}

div.ibacordotcom-vid-top {
  color: #FFFFFF;
  background: #1a1a1a;
  padding:20px;
  display:block;
  overflow:hidden;
  *overflow:visible;
}

div.ibacordotcom-vid-bottom {
  color: #c0c0c0;
  background:#222222;
  display:block;
}

span.ibacordotcom-vid-by a {
  color: #878787;
}

.ibacordotcom_youtube_thumb img {
  width: 100px;
}

div.ibacordotcom-play:hover {
  background:#525252;
}

.ibacordotcom-vid-active {
  background:#3a3a3a;
}

.ibacordotcom-vid-active img{
  border :2px solid #e42b28;
}

.ibacordotcom_vid_prev,.ibacordotcom_vid_next,.ibacordotcom-play{
  cursor:pointer
}

iframe.ibacordotcom-vid-iframe {
  width: 100%;
  height: 500px
}


@media only screen and (min-width: 960px) and (max-width: 1045px) {

}

@media only screen and (min-width: 768px) and (max-width: 959px) {

}

@media only screen and (min-width: 480px) and (max-width: 767px) {

}

@media screen and (max-width:479px){

}


.instruction-pdf {
  margin-top: 25px;
}


.instruction-pdf p {
  color: #000;
  font-weight: 600;
}

.instruction-pdf-link {
  margin-top: 15px;
}