/**********************************************************************************

  Project:  Tens Australia
  Designer: Zakir Hossain
  Designer URI: http://www.zakirinfo.com
  Version:  1.0
  Last change: 
  
**********************************************************************************/
div.breadcrumbs {
	height: 42px;
	background-color: #f3f6fd;
	text-align: center;
	color:black; 
	position:relative;
	
}

div.title-bar  {
	background-color: #e3e6eb;
}

div.product-links {
	background-color: #3e5977;
}

.center-pills { display: inline-block; }


.center-pills > li > a { color: white; }

.title-bar > h1 
{
	font-size: 28px;
	color: black; 
}

.brush-font {
    font-family: 'BrushScriptMT';
}


.footer-bottom {
   position:absolute;
   bottom:0;
   width:100%; 
}

.blue-gradient {
	background-color: #165aa0;
  background: -webkit-linear-gradient(#557cb3, #0b559c); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#557cb3, #0b559c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#557cb3, #0b559c); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#557cb3, #0b559c); /* Standard syntax */
}

.clear-footer { clear: both; height: 360px; }

.banner {
	background-color: #e7ecf0; 
	background-image: url('../images/illustration.png') ;	
	background-repeat: no-repeat;
	background-size: 400px 400px;
	background-position: 85% 40% ;
}

.blue-toc {
	background-color: #024c93;
	padding-top:2em;
	padding-bottom:2em;
}

.green-toc {
	background-color: #e5e9f0;
	padding-top:2em;
	padding-bottom:2em;
}
 

.toc-content {
	color: white !important; 
	list-style: none
}

.toc-content > li > a {
	color: white !important;  
}

.toc-content > li > a:hover {
	text-decoration: underline
}

.toc-content > li:before { 
	content: '\f111';
	font-family: 'FontAwesome';
	float: left;
	font-size:8px;
	margin-left: -2.0em;
	color: white !important;  
}



ul.nav-pills > li > a {
	color :white;
}

ul.nav-pills > li .active {
	color :#0b559c;
}


.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: red;
}

.white {
	color:white;
}

div.divider-pagination {
	height:1px;
	border-bottom:1px solid #82a19a;
}


.btn-pagination {
	padding:15px;
  line-height: 23px; 
  font-size: 18px; 
  bottom: 0;
  border-radius: 0;
  color: #FFF !important;
  right: 0;
  background-color: #1b4c88;
}


.btn-pagination:hover { 
  background-color: #3a66a3;
}

.btn-tens-action {
position:relative;top:80%; 
background:#77a42d; 
border:0px; 
color:white;
font-size:24px;
font-weight:600;
width:250px;
margin-bottom:15px;
border-radius:15px;
} 

.btn-tens-action:hover {
position:relative;top:80%; 
background:#fff; 
border:0px; 
color:black;
}

.tens-quote-left {
	font-size:30px; 
	position:relative;
	left:0px; 
	padding-right:15px;
}
 
.tens-quote-right {
	font-size:30px;
	position:relative;
	left:0px; 
	float:right;
	padding-left:15px;
}

.link-button:visited {
	color : white;
	padding:10px;
	padding-left:15px;
	padding-right:15px;
	font-weight:600;
}

.link-button {
	color : white;
	padding:10px;
	padding-left:15px;
	padding-right:15px;
	font-weight:600;
}
.link-button:hover {
	border-radius: 6px;
	background-color: #eeeeee;
	color: #0b559c;
}
.panel-default {
	background-color:#FFFFFF !important;
	border-color: #c2c7cc;
	border-radius : 0px;
}

.order-heading {
	background-color:#FFFFFF !important;
	border-color: #c2c7cc;
	border-radius : 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
}

.order-heading > h4 {
	font-size:20px;
}
.order-heading  > h4 > :visited {
	text-decoration: none;
	color:red;
}

.order-heading  > h4 > span.numbering  {
	background-color: #0e5499;
	color: white;
	padding: 8px;
	padding-left: 12px;
	padding-right: 12px;
	font-weight:bold;
	margin-right:38px;
}

.btn-continue {
	background-color: #9bbe6e;
	border: 0px;
	font-size:26px;
	font-weight:600;
}


.btn-continue:hover { 
}

.form-control {
	border-radius: 0px;  
	margin-top:15px; 
}

.form-control::-webkit-input-placeholder { font-weight:0; color:#c7c7c7;}
.form-control:-moz-placeholder { font-weight:0; color:#c7c7c7; }
.form-control::-moz-placeholder { font-weight:0; color:#c7c7c7;}
.form-control:-ms-input-placeholder { font-weight:0; color:#c7c7c7;}


ol.numbered-list > li {
    display: list-item;
	list-style: decimal inside;;
} 

.make-switch + .validate-has-error {
    margin-left: 10px;
}
.validate-has-error > input {
    border-color: #cc2424;
    margin-bottom:5px;
}
.validate-has-error > input:focus {
    border-color: #cc2424;
}


.validate-has-error > select {
    border-color: #cc2424;
    margin-bottom:5px;
}
.validate-has-error > select:focus {
    border-color: #cc2424;
}

span.error-label {
    color: #cc2424; 
}  

.panel-title-order-form {
	color: #dedede;
}


.order-heading > h4.panel-title-disabled  {
	color: #CCD7F0;
}


.order-heading > h4.panel-title-disabled > span.numbering  {
	background-color: #BCC8E3;
	color: #dddddd; 
	padding: 8px;
	padding-left: 12px;
	padding-right: 12px;
	font-weight:bold;
	margin-right:38px;
}


ul.accessories-list {
	list-style-type: none;  
	margin-left:-45px;
}