/**********************************************************************************

  Project:  Tens Australia
  Designer: Anh Dao
  Version:  1.0
  Last change: 
  
**********************************************************************************/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background: #ffffff;
  color: #656565;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  overflow-x: hidden !important;
  margin: auto !important;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: inherit;
  color: inherit;
}

ul,
ol {
  padding: 0;
  margin:  0;
}

li {
  list-style: none;
}

@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/*---------------------------------------
   TYPOGRAPHY               
-----------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  color: #fff;
  margin-bottom: 0;
  margin-top: 0;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
}

h2 {
  font-size: 2.75rem;
  line-height: 3.375rem;
  font-weight: 600;
  
}

h3 {
  font-size: 1.5rem;
  line-height: 2.375rem;
  font-weight: 600;
  margin-bottom: 24px;
}

h4 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  
}

h5 {
  font-size: 17px;
  line-height: 25px;
  font-weight: 700;
  }

h6 {
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
}



/*********************************
----------------------------------
  HEADER
----------------------------------
*********************************/

.header {
  background: #032142;
  position: relative;
}

.navbar-default {
  background: transparent;
  border: none;
}

.navbar-default .navbar-nav>li>a  {
  color: #ffffff;
}

.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
  background: transparent;
  color: #ffffff;
  text-decoration: underline;
}

.navbar-default .navbar-nav>li>a {
  display: inline-block;
}

.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #00428b;
  padding-left: 30px;
}

.dropdown-menu {
  padding: 0;
  border-radius: 0px;
  border: none;
}

.dropdown-menu li {
  padding: 0;
}

.dropdown-menu>li>a {
  padding: 10px 20px;
}

.dropdown-menu>li>a:hover {
  text-decoration: underline;
}

.navbar-right .fa {
  margin-right: 5px;
}

.navbar-right {
  margin-top: 25px;
}

.navbar {
  min-height: 80px;
}

.nav .font-size-maintain a.font-size-big {
  border: 1px solid #ffffff;
  padding: 5px 10px;
}

.nav .font-size-maintain a.font-size-small {
  border: 1px solid #ffffff;
  padding: 5px 10px;
  font-size: 12px;
}

li.font-size-maintain {
  margin-top: 9px;
  margin-right: 10px;
}



/*********************************
----------------------------------
  PRODUCT SECTION
----------------------------------
*********************************/
.product-section {
  margin-top: 37px;
}

.single-product {
  margin: auto;
   margin-bottom: 34px; 
  position: relative;
  display: block;
  text-align: center;
  width: 100%;
  max-width: 588px;
  height: 100%;
  max-height: 385px;
}

.product-content {
  position: absolute;
  top: 0;
  text-align: center;
  color: #fff;
  background: rgba(0, 12, 26, 0.7);
  width: 100%;
  max-width: 588px;
  height: 100%;
  max-height: 385px;
  padding-top: 18%;
/*  opacity: 0;*/
  transition : all .5s ease;
  -webkit-transition : all .5s ease;
}


/*.single-product:hover .product-content {
  opacity: 1
}*/

.btn-success {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  border-radius: 0px;
  padding: 10px 20px;
  font-weight: 600;
}

.btn-success:hover {
  background: #00428b;
  border-color: #00428b;
  color: #fff;
}

.quote {
  width: 750px;
  margin: 100px auto 100px;
  padding: 10px;
  background: #032142;
  color: #fff;
  text-align: center;
}





.footer {
  background: #032142;
  padding: 44px; 0;
  text-align: center;
  color: #fff;
}

.social-icon-container  {
  margin-bottom: 24px;
}

.social li a{
  color: #fff;
}
.social li{
  display: inline-block;
  list-style: none;
  margin-left: 15px;
}

.social li:first-child {
  margin-left: 0;
}

.no-specing {
  margin: 0!important;
  padding: 0!important;
}



/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  width: 100%;
  max-width: 588px;
  height: 100%;
  max-height: 385px;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}





/* Individual effects */

/*---------------*/
/***** Julia *****/
/*---------------*/

figure.effect-julia {
  background: #2f3238;
}

figure.effect-julia img {
  max-width: none;
  height: 400px;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect-julia figcaption {
  text-align: left;
}

figure.effect-julia h2 {
  position: relative;
  padding: 0.5em 0;
  text-transform: initial;
}

figure.effect-julia p {
  display: inline-block;
  margin: 0 0 0.35em;
  padding: 0.4em 0em;
  text-transform: initial;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-360px,0,0);
  transform: translate3d(-360px,0,0);
}

figure.effect-julia p:first-child {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

figure.effect-julia p:nth-of-type(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.effect-julia p:nth-of-type(3) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.effect-julia:hover p:first-child {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

figure.effect-julia:hover p:nth-of-type(2) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.effect-julia:hover p:nth-of-type(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.effect-julia:hover img {
  opacity: 0.4;
  -webkit-transform: scale3d(1.1,1.1,1);
  transform: scale3d(1.1,1.1,1);
}

figure.effect-julia:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
