*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Arial';
    font-size: 14px; 
    font-weight: normal;
}

p {
    margin:0px 6px 0px 6px;
}

.container{
    width: 980px;
    margin: auto;
    overflow: hidden; 
}

.header{
    clear: both; 
    width: 100%;
} 

img.logo {
    width:90%;
}

div.logo {
    width:20%;
    float: left;
}

.address {
    width:50%;
    float: left;
    text-align:center;
}

.invoice {
    width:30%;
    float: left;
}

th.invoice{
    border: 1px solid #000;
    padding: 5px 0;
    font-size: 20px;
}

div.small-font {
    margin:6px 0px 6px 0px;
    font-size:12px;
}

div.clear {
    clear:both;
    height:12px;
}

div.bill_to_left {
    width:50%;
    float:left;
}

table.bill_to_left {
    width:100%;
    border: 1px solid #000;
}

div.bill_to_right {
    width:50%;
    float:left;
    text-align:center;
    font-size:12px;
    margin-left:15px;
}

hr.divider{
    margin:0px;
    margin-left:12px;
    margin-right:12px;
}


table.third-row {
    font-size:14px;
    width:100%;
}

td.label-cell {
    width:20%;
}



/*item table*/
.item-table{
    float: left;
    width: 100%;
    clear: both;
    overflow: hidden;
    padding: 20px 0;
}
.item-table table{
    border: 1px solid #7f7f7f;
    width: 100%;
    border-right: 0px;
    border-bottom: 0px;
}
.item-table th, .item-table td{
    text-align: right;
    padding: 2px 5px;
}
.item-table td.left, .item-table th.left{
    text-align: left;
}
.item-table table tr:nth-child(even) td{
    background: #f2f2f2;
}
.item-table th, .item-table td{
    border-right: 1px solid #7f7f7f;
    border-bottom: 1px solid #7f7f7f;
}

.important-info {
    text-align:center;
    color: red;
}

/* 
 Payment row
*/

div.left-payment {
    float:left;
    width:65%;
}

div.left-payment table { 
    border: 1px solid #000;
    width:99%;
    text-align:center;
    font-size:12px;
}


div.right-payment {
    float:left;
    width:35%;
}

div.right-payment table {
    width:99%;
    margin-left:12px;
    border: 1px solid #000;
    text-align:center;
}

.payment-header {
    font-weight: bold;
}