*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Arial';
    font-size: 14px; 
    font-weight: normal;
}

.container{
    width: 980px;
    margin: auto;
    overflow: hidden; 
}
.header{
    clear: both;
    float: left;
    width: 100%;
}
.logo, .address, .quote{
    float: left;
}

.logo{
    width: 30%;
}

.quote{
    width: 30%;
}

.address{
    width: 60%;
    text-align: center;
    padding-top: 12px;
}
.address p{
    font-size: 12px;
}
.address_btm{ 
}
.address_btm p{
    font-size: 14px;
    
}
.quote table{
    width: 100%;
}
.quote tr:nth-child(2) td{
    padding-top: 18px;
}
.quote th{
    border: 1px solid #000;
    padding: 5px 0;
    font-size: 24px;
}
.quote td{
    font-size: 18px;
    padding: 4px 0 0;
}
.quote tr td:last-child{
    text-align: right;
}
/*bill to*/
.bill_to{
    float: left;
    width: 100%;
    clear: both;
    overflow: hidden;
    padding: 20px 0;
}
.bill_to_left, .bill_to_right{
    float: left;
    width: 60%;
}
.bill_to_right{
    margin-left: 20px;
    width: 35.5%;
}
.bill_to_left{
    border: 1px solid #a6a6a6;
    padding: 10px;
}
.bl_aside, .bl_bside{
    float: left;
    width: 20%;
}
.bl_bside{
    width: 80%;
}
.bl_bside p{
    padding: 4px 0;
}
.br_container div{
    border-bottom: 1px solid #000;
    padding: 8px 0 6px;
}
.br_container div.first{
    padding-top: 0px;
}
.br_container p{
    font-size: 14px;
    text-align: center;
}
.br_container p.last{
    padding-top: 0px;
}
/*detail section*/
.detail_section{
    float: left;
    width: 100%;
    clear: both;
    overflow: hidden;
}
.detail_section p{
    padding-bottom: 2px;
}

.d_label, .d_detail{
    float: left;
    width: 15%;
}
.d_detail{
    width: 35%;
}
/*item table*/
.item_table{
    float: left;
    width: 100%;
    clear: both;
    overflow: hidden;
    padding: 20px 0;
}
.item_table table{
    border: 1px solid #7f7f7f;
    width: 100%;
    border-right: 0px;
    border-bottom: 0px;
}
.item_table th, .item_table td{
    text-align: right;
    padding: 2px 5px;
}
.item_table td.left, .item_table th.left{
    text-align: left;
}
.item_table table tr:nth-child(even) td{
    background: #f2f2f2;
}
.item_table th, .item_table td{
    border-right: 1px solid #7f7f7f;
    border-bottom: 1px solid #7f7f7f;
}
/*important info*/
.important_info{
    float: left;
    width: 100%;
    clear: both;
    overflow: hidden;
    color: red;
    font-size: 18px;
    text-align: center
}
.important_info p{
    width: 100%;
}
.important_info p:first-child{
    font-size: 22px;
    font-weight: bold;
}
/*footer*/
.footer{
    float: left;
    width: 100%;
    clear: both;
    overflow: hidden;
    padding: 20px 0;
    
}
.footer_left, .footer_right{
    float: left;
    width: 65%;
}
.footer_right{
    margin-left: 20px;
    width: 30.5%;
}
.footer_box{
    border: 1px solid #a6a6a6;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 10px;
}
.footer_heading{
    float: left;
    width: 100%;
    clear: both;
    padding-bottom: 5px;
}
.footer_aside, .footer_bside{
    float: left;
    width: 60%;
}
.footer_bside{
    width: 40%;
}
.footer_right table{
    border: 1px solid #a6a6a6;
    width: 100%;
    padding: 25px 20px;
    margin-bottom: 10px;
}
.footer_right table tr td:last-child{
    text-align: right;
}
.footer_right td{
    padding: 4px 0;
}
.footer_right table.btm{
    font-weight: bold;
}
.pdf_btm{
    float: left;
    width: 100%;
    clear: both;
    overflow: hidden;
   background: url(../img/btm.jpg) no-repeat bottom center;
    height: 330px;
}






